// MealTimeStyle.scss

.mealTimeContainer {

  background-color: #f8f9fa; /* Adjust the background color as needed */
}

.mealTimeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mealTimeInfo {
  margin: 10px 0;
  border: 1px solid #ced4da; 
  border-radius: 5px;
  background-color: #fff; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
  width: 100%;
}

.iconCol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textCol {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.mealTimeText {

  text-align: left;
}

.mealName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.calories {
  font-size: 14px;
  color: #6c757d; 
}
