
.progContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid; 
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1),
}


.progressBarMain {
  width: 200px;
  height: 200px;

}

.progressBar {
  width: 100px;
  height: 100px;
}