.header__container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 250px;
  z-index: 10;
}

.overlay {
  background-color: crimson;
  width: 100%;
  height: 250px;
  position: absolute;
  z-index: 1;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.stats__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.stats {
  display: flex;
  flex-direction: row;
}

.stat {
  display: flex;
  flex-direction: row;
  margin-left: 40px
}

.stat__icon {
  z-index: 10;
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.stat__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 8px;
}

.datepicker {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin: 16px auto;
}

.cards {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

}

.card {}

.card__content--topSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.card__content--info {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.card__content--icon {
  font-size: 36px;
}

.card__info {
  width: calc((100% / 4));
  padding: 16px;

}

.meal-card__info {
  width: calc((100% / 2));
  padding: 16px;
}

.card__content--bottomSection {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;


}

.bottomSection__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;




}

.bottomSection__icon {
  font-size: 42px;


}

.bottomSection__info {
  display: flex;
  flex-direction: column;
  width: 40%;

}


/* Meal Card */

.mealCard__content {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.mealCard__content--leftSection {
  display: flex;
  align-items: center;

}

.mealCard__content--img {
  margin-right: 20px;
}

.mealTime__content--icon {
  font-size: 32px;
}