/* App.css */

.App {
  margin: 0;
  display: flex;
  font-family: 'Arial', sans-serif; /* Add a default font-family */
}
.wrapper{
  display: flex ;
}
.sidebar{
  width: 15%;
  text-align: center;
}

/* Add the following line to make sure the sidebar and dashboard content fit the viewport */
.App > div {
  flex-grow: 1;
}



